/* PomodoroTimer.css */
.main-pomo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 50px black;
    position: fixed;
}

.pomodoro-timer {
    display: flex;
    justify-content: center;
    width: 350px;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border-radius: 30px;
}

.pomo-h {

    font-weight: bolder;
    letter-spacing: 2px;
    color: white;
}

.show-time {
    font-size: 60px;
    margin: 0;
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0)e;
    font-weight: bolder;
    padding: 10px;
}

button {
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

div>label {
    font-size: 15;
    margin-right: 10px;

}

input[type="number"] {
    font-size: 14px;
    padding: 0;
    width: 40px;
    border: 1px solid white;
    border-radius: 5px;
}

.set-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toggle-time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}